

<lista-directive data-require="LISTAR_CARGOS" data-require-fail="redirect">
    <filtros>
        <div class="form-group" >
            <label class="control-label">Año:</label>
            <input type="number" onkeypress="return event.charCode >= 48" min="0" class="form-control" ng-model="filterBy.anho"
            ng-keypress="aplicarFiltros($event)" />
        </div>
        <div class="form-group">
            <label class="control-label">Mes :</label>
            <select class="form-control" ng-model="filterBy.mes">
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>
        <div class="form-group" >
            <label class="control-label">Descripción:</label>
            <input type="text" class="form-control" ng-model="filterBy.nombre"
            ng-keypress="aplicarFiltros($event)" />
        </div>
        <div class="form-group">
            <label class="control-label">Categoría:</label>
            <input type="text" class="form-control" ng-model="filterBy.categoria"
            ng-keypress="aplicarFiltros($event)" />
        </div>        
        <!-- <div class="form-group">
            <label class="control-label">L&iacute;nea:</label>
            <input type="text" class="form-control" ng-model="filterBy.linea" 
            ng-keypress="aplicarFiltros($event)"/>
        </div> -->
        <div class="form-group">
            <label class="control-label">Salario Presupuestado:</label>
            <input type="number" onkeypress="return event.charCode >= 48" min="0" class="form-control" ng-model="filterBy.presupuestado" 
            ng-keypress="aplicarFiltros($event)"/>
        </div>        
        <div class="form-group" >
            <label class="control-label">Departamento:</label>
            <input type="text" class="form-control" ng-model="filterBy.departamento"
            ng-keypress="aplicarFiltros($event)" />
        </div>
        <div class="form-group">
            <label class="control-label">Programa :</label>
            <!--<select id="programa" type="text" class="form-control" 
                data-ng-options="programa for programa in listaProgramas track by programa" 
                ng-model="filterBy.programa"
                ng-init='filterBy.programa="TODOS"'>
            </select>-->
			<input type="text" class="form-control" ng-model="filterBy.descripcionPrograma"
				ng-keypress="aplicarFiltros($event)" />
        </div>
        <div class="form-group">
            <label class="control-label">Subprograma :</label>
            <!--<select id="subprograma" type="text" class="form-control" 
                data-ng-options="subprograma for subprograma in listaSubProgramas track by subprograma"
                ng-model="filterBy.subprograma"
                ng-init='filterBy.subprograma="TODOS"'>
            </select>-->
			<input type="text" class="form-control" ng-model="filterBy.descripcionSubprograma"
				ng-keypress="aplicarFiltros($event)" />
        </div>
        <div class="form-group">
            <label class="control-label">Tipo Presupuesto:</label>
            <input type="text" class="form-control" ng-model="filterBy.descripcionTipoPresupuesto" 
            ng-keypress="aplicarFiltros($event)"/>
        </div>     
        
        <div ng-if="esHacienda" class="form-group">
            <label class="control-label">Línea:</label>
            <input type="text" class="form-control" ng-model="filterBy.linea" 
            ng-keypress="aplicarFiltros($event)"/>
        </div>   
        <!-- <div class="form-group">
            <label class="control-label">Función Real:</label>
            <input type="text" class="form-control" ng-model="filterBy.funcionReal"
            ng-keypress="aplicarFiltros($event)" />
        </div> -->
        <!--<div class="form-group">
            <label for="cpt" class="control-label">Nivel CPT:</label>
            <select name="cpt" type="text" class="form-control" 
                    ng-options="cpt for cpt in listaCpt" 
                    ng-model="filterBy.nivel">
            </select>
        </div>
        <div class="form-group">
            <label for="tramo" class="control-label">Tramo:</label>
            <select name="tramo" type="text" class="form-control" 
                    ng-options="tramo for tramo in listaTramos" 
                    ng-model="filterBy.numeroTramo"></select>
        </div>--> 
    </filtros>
    <titulo>Cargos no asignados</titulo>
    <descripcion>A través de esta sección usted podrá consultar la lista de los Cargos no asignados.
    </descripcion>
    <tabla>
        <table class="table table-striped">
            <thead tasty-thead=""></thead>
            <tbody ng-if="loading == false">
                <tr ng-repeat="row in config.rows">
                    <td ng-if="hasHeader('anho')">{{row.anho}}</td>
                    <td ng-if="hasHeader('mes')">{{row.mes}}</td>
                    <td ng-if="hasHeader('nombre')">{{row.nombre}}</td>
                    <td ng-if="hasHeader('categoria')">{{row.categoria}}</td>                    
                    <!-- <td ng-if="hasHeader('linea')">{{row.linea}}</td> -->
                    <td ng-if="hasHeader('presupuestado')">{{row.presupuestado | number}}</td>
                    <td ng-if="hasHeader('departamento')">{{row.departamento}}</td>
                    <td ng-if="hasHeader('descripcionPrograma')">{{row.descripcionPrograma}}</td>
                    <td ng-if="hasHeader('descripcionSubprograma')">{{row.descripcionSubprograma}}</td>
                    <td ng-if="hasHeader('descripcionTipoPresupuesto')">{{row.descripcionTipoPresupuesto}}</td>
                    <td ng-if="hasHeader('linea') && esHacienda">{{row.linea}}</td>
                    <td ng-if="tienePermiso('ACTIVAR_CARGO')">
                        <input type="checkbox" ng-model="row.disponible" 
                            style="float: right;" ng-change="activarCargo($event, row)">
                    </td>
                    <!-- <td>
                        <a ng-href="/" ng-click="activarCargo($event, row)"> 
                            {{row.disponible ? 'No Disponible' : 'Disponible'}} 
                        </a> &nbsp;
                    </td> -->
                </tr>
            </tbody>
        </table>
    </tabla>
    <footer-tabla>
        <hr/>
        <h5>Descargar: </h5>
        <a ng-click="getCSV()">
            <i type="button" class="fa fa-file-o"></i> CSV</a> &nbsp;|&nbsp;
        <a ng-click="getXLS()">
            <i type="button" class="fa fa-file-excel-o"></i> EXCEL</a>
        <!--<a ng-click="getPDF()">
            <i type="button" class="fa fa-file-pdf-o"></i> PDF</a>-->
    </footer-tabla>
</lista-directive>
