

<lista-directive data-require="LISTAR_CARGOS" data-require-fail="redirect">
    <filtros>
        <div class="form-group" >
            <label class="control-label">Descripción:</label>
            <input type="text" class="form-control" ng-model="filterBy.nombre"
            ng-keypress="aplicarFiltros($event)" />
        </div>
        <div class="form-group">
            <label class="control-label">Categoría:</label>
            <input type="text" class="form-control" ng-model="filterBy.categoria"
            ng-keypress="aplicarFiltros($event)" />
        </div>
        <div class="form-group">
            <label class="control-label">Salario Presupuestado:</label>
            <input type="text" class="form-control" ng-model="filterBy.presupuestado" 
            ng-keypress="aplicarFiltros($event)"/>
        </div>
        <div class="form-group">
            <label class="control-label">Programa:</label>
            <input type="text" class="form-control" ng-model="filterBy.programa" 
            ng-keypress="aplicarFiltros($event)"/>
        </div>
        <div class="form-group">
            <label class="control-label">Subprograma:</label>
            <input type="text" class="form-control" ng-model="filterBy.subprograma" 
            ng-keypress="aplicarFiltros($event)"/>
        </div>
        <div class="form-group" >
            <label class="control-label">Departamento:</label>
            <input type="text" class="form-control" ng-model="filterBy.departamento"
            ng-keypress="aplicarFiltros($event)" />
        </div>
        <!-- <div class="form-group">
            <label class="control-label">Función Real:</label>
            <input type="text" class="form-control" ng-model="filterBy.funcionReal"
            ng-keypress="aplicarFiltros($event)" />
        </div> -->
        <!--<div class="form-group">
            <label for="cpt" class="control-label">Nivel CPT:</label>
            <select name="cpt" type="text" class="form-control" 
                    ng-options="cpt for cpt in listaCpt" 
                    ng-model="filterBy.nivel">
            </select>
        </div>
        <div class="form-group">
            <label for="tramo" class="control-label">Tramo:</label>
            <select name="tramo" type="text" class="form-control" 
                    ng-options="tramo for tramo in listaTramos" 
                    ng-model="filterBy.numeroTramo"></select>
        </div>--> 
    </filtros>
    <titulo>Cargos Vacantes</titulo>
    <descripcion>A través de esta sección usted podrá consultar la lista de los Cargos Vacantes.
    </descripcion>
    <tabla>
        <table class="table table-striped">
            <thead tasty-thead=""></thead>
            <tbody ng-if="loading == false">
                <tr ng-repeat="row in config.rows">
                    <td ng-if="hasHeader('nombre')">{{row.nombre}}</td>
                    <td ng-if="hasHeader('categoria')">{{row.categoria}}</td>
                    <td ng-if="hasHeader('presupuestado')">{{row.presupuestado | number}}</td>
                    <td ng-if="hasHeader('cptEe')">{{row.cptEe}}</td>
                    <td ng-if="hasHeader('cptEf')">{{row.cptEf}}</td>
                    <td>
                        <a target="_blank" 
                            ng-href="#!/reportes/legajos?{{row.linkCandidatos}}"> 
                            <i class="fa fa-eye"></i> Ver Candidatos
                        </a> &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </tabla>
    <footer-tabla>
        <hr/>
        <h5>Descargar: </h5>
        <a ng-click="getCSV()">
            <i type="button" class="fa fa-file-o"></i> CSV</a> &nbsp;|&nbsp;
        <a ng-click="getXLS()">
            <i type="button" class="fa fa-file-excel-o"></i> EXCEL</a>
        <!--<a ng-click="getPDF()">
            <i type="button" class="fa fa-file-pdf-o"></i> PDF</a>-->
    </footer-tabla>
</lista-directive>
