<br/>
<br/>
<div class="wizard">
    <ul class="wizard-breadcrumbs">
        <li>
            <a href="#!{{path}}" title="Ir a Buscar CTS">CTS <span class="badge">1</span></a>
        </li>

        <li class="active">
            <a> Consultar CTS <span class="badge">2</span></a>
        </li>
    </ul>
</div>

<view-directive data-require= "LISTAR_CTS" data-require-fail="redirect">
    <titulo>Consultar Clasificación de los tramos salariales (CTS)</titulo>
    <descripcion>A través de esta sección usted podrá consultar los datos de los Clasificaciones de los tramos salariales.
    </descripcion>
    <view>
        <dt>N&uacute;meroTramo :</dt>
        <dd>{{recurso.numeroTramo}}</dd>        
        <dt>Mínimo :</dt>
        <dd>{{recurso.minimo | number }} Gs.</dd>
        <dt>Máximo :</dt>
        <dd>{{recurso.maximo| number }} Gs.</dd>
        <dt>Mes :</dt>
        <dd>{{recurso.mes}}</dd>
        <dt>Año :</dt>
        <dd>{{recurso.anho}}</dd>
    </view>
</view-directive>
