<br/>
<div class="wizard">
    <ul class="wizard-breadcrumbs">
        <li class="active">
            <a>Anexo
                <span class="badge">1</span>
            </a>
        </li>
        <li>
            <a> Consultar Anexo</a>
        </li>
    </ul>
</div>

<lista-directive data-require="LISTAR_ANEXOS" data-require-fail="redirect">
    <filtros>
        <a class="btn btn-collapse ng-scope" data-toggle="collapse" data-target="#generales" title="Datos Generales">
            <i class="fa fa-angle-down"></i> Datos Generales
        </a>
        <div class="collapse" id="generales">
            <div class="divisor"></div>
            <div class="form-group">
                <label class="control-label">A&ntilde;o:</label>
                <input type="number" class="form-control" ng-model="filterBy.anho" 
                        ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Mes :</label>
                <select class="form-control" ng-model="filterBy.mes">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
            </div>
                
            <div class="form-group">
                <label class="control-label">Nivel Entidad :</label>
                <input type="text" class="form-control" ng-model="filterBy.nivelEntidad" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Entidad :</label>
                <input type="text" class="form-control" ng-model="filterBy.entidad" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">OEE :</label>
                <input type="text" class="form-control" ng-model="filterBy.oee" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div ng-if="esHacienda" class="form-group">
                <label class="control-label">L&iacute;nea :</label>
                <input type="text" class="form-control" ng-model="filterBy.linea" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Objeto Gasto :</label>
                <input type="text" class="form-control" ng-model="filterBy.objetoGasto" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Fuente de Financiamiento :</label>
                <input type="text" class="form-control" ng-model="filterBy.fuenteFinanciamiento" ng-keypress="aplicarFiltros($event)" />
            </div>
        </div>

        <div class="divisor"></div>

        <a class="btn btn-collapse ng-scope" data-toggle="collapse" data-target="#presupuestarios-estructura" title="Datos Estructura">
            <i class="fa fa-angle-down"></i> Presupuestarios Estructura
        </a>
        <div class="collapse" id="presupuestarios-estructura">
            <div class="divisor"></div>
            <div class="form-group">
                <label class="control-label">Programa :</label>
                <select id="programa" type="text" class="form-control" 
                    data-ng-options="programa for programa in listaProgramas track by programa" 
                    ng-model="filterBy.programa">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Subprograma :</label>
                <select id="subprograma" type="text" class="form-control" 
                    data-ng-options="subprograma for subprograma in listaSubProgramas track by subprograma"
                    ng-model="filterBy.subprograma">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Dependencia :</label>
                <input type="text" class="form-control" ng-model="filterBy.dependencia" 
                    ng-keypress="aplicarFiltros($event)" />
            </div>
        </div>

        <div class="divisor"></div>

        <a class="btn btn-collapse ng-scope" data-toggle="collapse" 
            data-target="#presupuestarios" title="Datos Presupuestarios">
            <i class="fa fa-angle-down"></i> Datos Cargos Presupuestarios
        </a>
        <div class="collapse" id="presupuestarios">
            <div class="divisor"></div>
            <div class="form-group">
                <label class="control-label">Categor&iacute;a :</label>
                <input type="text" class="form-control" ng-model="filterBy.categoria" 
                        ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Concepto :</label>
                <input type="text" class="form-control" ng-model="filterBy.concepto" 
                        ng-keypress="aplicarFiltros($event)" />
            </div>

            <!-- <div class="form-group">
                    <label class="control-label">Concepto :</label>
                    <select class="form-control" ng-model="filterBy.concepto">
                        <option style="display:none" value=""></option>
                        <option value="SUELDOS">Sueldos</option>
                        <option value="REMUNERACIONESEXTRAS">Sueldos mas Remuneraciones Extras</option>
                    </select>
                </div> -->

            <div class="form-group">
                <label class="control-label">Presupuestado :</label>
                <input type="text" class="form-control" ng-model="filterBy.presupuestado" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Devengado :</label>
                <input type="text" class="form-control" ng-model="filterBy.devengado" ng-keypress="aplicarFiltros($event)" />
            </div>
        </div>

        <div class="divisor"></div>

        <a class="btn btn-collapse ng-scope" data-toggle="collapse" data-target="#cargo" title="Estado Cargo">
            <i class="fa fa-angle-down"></i> Estado del Cargo
        </a>
        <div class="collapse" id="cargo">
            <div class="divisor"></div>
            <div class="form-group">
                <label class="vinculacion">Vinculaci&oacute;n :</label>
                <select name="vinculacion" type="text" class="form-control" 
                    ng-options="vinculacion for vinculacion in listaVinculaciones track by vinculacion"
                    ng-model="filterBy.vinculacionFuncionario" ng-change="updateVinculacion(vinculacion)"></select>
            </div>
        </div>

        <div class="divisor"></div>

        <a class="btn btn-collapse ng-scope" data-toggle="collapse" data-target="#personales" title="Datos Personales">
            <i class="fa fa-angle-down"></i> Datos Personales
        </a>
        <div class="collapse" id="personales">
            <div class="divisor"></div>
            <div class="form-group">
                <label class="control-label">C&eacute;dula de Identidad :</label>
                <input type="text" class="form-control" ng-model="filterBy.cedulaIdentidad" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Apellido :</label>
                <input type="text" class="form-control" ng-model="filterBy.apellido" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Nombre :</label>
                <input type="text" class="form-control" ng-model="filterBy.nombre" ng-keypress="aplicarFiltros($event)" />
            </div>
        </div>

        <div class="divisor"></div>

        <a class="btn btn-collapse ng-scope" data-toggle="collapse" data-target="#ocupacionales" title="Datos Ocupacionales">
            <i class="fa fa-angle-down"></i>  Datos Ocupacionales
        </a>
        <div class="collapse" id="ocupacionales">
            <div class="divisor"></div>
            <div class="form-group">
                <label class="control-label">Cargo :</label>
                <input type="text" class="form-control" ng-model="filterBy.cargo" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Funci&oacute;n Real :</label>
                <input type="text" class="form-control" ng-model="filterBy.funcionReal" ng-keypress="aplicarFiltros($event)" />
            </div>
        
            <div class="form-group">
                <label class="control-label">N&uacute;mero de Puesto de Trabajo :</label>
                <input type="text" class="form-control" ng-model="filterBy.numeroPuestoTrabajo" ng-keypress="aplicarFiltros($event)" />
            </div>
        </div>

        <div class="divisor"></div>

        <a class="btn btn-collapse ng-scope" data-toggle="collapse" data-target="#estructura" title="Datos Estructura">
            <i class="fa fa-angle-down"></i> Datos Estructura
        </a>
        <div class="collapse" id="estructura">
            <div class="divisor"></div>
            <div class="form-group">
                <label class="control-label">C&oacute;digo CEO :</label>
                <input type="text" class="form-control" ng-model="filterBy.codigoCeo" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Denominaci&oacute;n CEO :</label>
                <input type="text" class="form-control" ng-model="filterBy.denominacionCeo" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Nivel CUO :</label>
                <input type="text" class="form-control" ng-model="filterBy.nivelCuo" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Sub Nivel CUO :</label>
                <input type="text" class="form-control" ng-model="filterBy.subNivelCuo" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">N&uacute;mero CUO :</label>
                <input type="text" class="form-control" ng-model="filterBy.numeroCuo" ng-keypress="aplicarFiltros($event)" />
            </div>
        </div>

        <div class="divisor"></div>

        <a class="btn btn-collapse ng-scope" data-toggle="collapse" data-target="#general" title="CPT General">
            <i class="fa fa-angle-down"></i> CPT General
        </a>
        <div class="collapse" id="general">
            <div class="divisor"></div>
            <div class="form-group">
                <label class="control-label">Nivel:</label>
                <input type="text" class="form-control" ng-model="filterBy.nivelCpt" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Sub Nivel:</label>
                <input type="text" class="form-control" ng-model="filterBy.subNivelCpt" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">N&uacute;mero:</label>
                <input type="text" class="form-control" ng-model="filterBy.numeroCpt" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Denominaci&oacute;n:</label>
                <input type="text" class="form-control" ng-model="filterBy.denominacionCpt" ng-keypress="aplicarFiltros($event)" />
            </div>

            <label class="control-label">Titular Unidad:</label>
            <select class="form-control" ng-model="filterBy.titularUnidad">
                <option style="display:none" value=""></option>
                <option value="TODOS">TODOS</option>
                <option value="true">Sí</option>
                <option value="false">No</option>
            </select>
        </div>

        <div ng-if="!esHacienda" class="divisor"></div>

        <a ng-if="!esHacienda" class="btn btn-collapse ng-scope" data-toggle="collapse" 
                data-target="#cptee" title="CPT EE">
            <i class="fa fa-angle-down"></i> CPT Específico Escalafonario
        </a>
        <div ng-if="!esHacienda" class="collapse" id="cptee">
            <div class="divisor"></div>
            <div class="form-group">
                <label class="control-label">N&uacute;mero Secuencial:</label>
                <input type="text" class="form-control" ng-model="filterBy.numeroSecuencialCptE" 
                        ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="ambitoCptE">Ámbito:</label>
                <select id="ambitoCptE" name="ambitoCptE" type="text" class="form-control" 
                    ng-options="ambito for ambito in listaAmbitos track by ambito"
                    ng-model="filterBy.ambitoCptE"
                    ng-init='filterBy.ambitoCptE="TODOS"'></select>
            </div>

            <div class="form-group">
                <label class="control-label">Nivel:</label>
                <input type="text" class="form-control" ng-model="filterBy.nivelCptE" 
                        ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Categor&iacute;a:</label>
                <input type="text" class="form-control" ng-model="filterBy.categoriaCptE" 
                        ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Denominaci&oacute;n:</label>
                <input type="text" class="form-control" ng-model="filterBy.denominacionCptE" 
                        ng-keypress="aplicarFiltros($event)" />
            </div>
        </div>

        <div class="divisor"></div>

        <a class="btn btn-collapse ng-scope" data-toggle="collapse" 
            data-target="#cptef" title="CPT EF">
            <i class="fa fa-angle-down"></i> CPT Específico Funcional
        </a>
        <div class="collapse" id="cptef">
            <div class="divisor"></div>
            <div class="form-group">
                <label class="control-label">N&uacute;mero Secuencial:</label>
                <input type="text" class="form-control" ng-model="filterBy.numeroSecuencialCptF" 
                        ng-keypress="aplicarFiltros($event)" />
            </div>

            <div ng-if="!esHacienda" class="form-group">
                <label class="ambitoCptF">Ámbito:</label>
                <select id="ambitoCptF" name="ambitoCptF" type="text" class="form-control" 
                    ng-options="ambito for ambito in listaAmbitos track by ambito"
                    ng-model="filterBy.ambitoCptF"
                    ng-init='filterBy.ambitoCptF="TODOS"'></select>
            </div>

            <div class="form-group">
                <label class="control-label">C&oacute;digo Mecip:</label>
                <input type="text" class="form-control" ng-model="filterBy.codigoProceso" 
                        ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">Denominaci&oacute;n:</label>
                <input type="text" class="form-control" ng-model="filterBy.denominacionCptF" 
                        ng-keypress="aplicarFiltros($event)" />
            </div>
            
            <div class="form-group">
                <label class="orientacionFuncional">Orientaci&oacute;n Funcional:</label>
                <select name="orientacionFuncional" type="text" class="form-control" 
                    ng-options="orientacionFuncional for orientacionFuncional in listaOrientacionFunc track by orientacionFuncional"
                    ng-model="filterBy.orientacionFuncional"
                    ng-init='filterBy.orientacionFuncional="TODOS"'></select>
            </div>
        </div>

        <div class="divisor"></div>

        <a class="btn btn-collapse ng-scope" data-toggle="collapse" data-target="#tramos-salariales" title="Tramos Salariales">
            <i class="fa fa-angle-down"></i> Clasificador Tramos Salariales
        </a>
        <div class="collapse" id="tramos-salariales">
            <div class="divisor"></div>
            <div class="form-group">
                <label class="control-label">Tramo :</label>
                <input type="text" class="form-control" ng-model="filterBy.tramo" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">M&iacute;nimo :</label>
                <input type="text" class="form-control" ng-model="filterBy.minimo" ng-keypress="aplicarFiltros($event)" />
            </div>

            <div class="form-group">
                <label class="control-label">M&aacute;ximo :</label>
                <input type="text" class="form-control" ng-model="filterBy.maximo" ng-keypress="aplicarFiltros($event)" />
            </div>        
        </div>
        <!--<div class="form-group">
            <label class="control-label">Concepto:</label>
            <input type="text" class="form-control" ng-model="filterBy.concepto" ng-keypress="aplicarFiltros($event)" />
        </div>-->
        
    </filtros>

    <titulo>Anexo de Personal</titulo>
    <descripcion>A través de esta sección usted podrá realizar consultas al anexo presupuestario.
    </descripcion>
    <tabla>
        <table class="table table-striped">
            <thead>
                <tr ng-if="cantidadHeader()">
                    <td ng-if="visibleGrales" style="background-color:#C8C8C8" 
                        colspan="{{colspanGrales}}">Datos Generales</td>
                    <td ng-if="visiblePresupuestariosEstructura" style="background-color:#C8C8C8" 
                        colspan="{{colspanPresupuestariosEstructura}}">Datos Presupuestarios de Estructura</td>
                    <td ng-if="visibleCargosPresupuestarios" style="background-color:#d1cb73" 
                        colspan="{{colspanCargosPresupuestarios}}">Datos de Cargos Presupuestarios</td>
                    <td ng-if="visibleEstadoCargo" style="background-color:#d1cb73" 
                        colspan="{{colspanEstadoCargo}}">Estado del Cargo</td>
                    <td ng-if="visiblePersonales" style="background-color:rgb(210, 228, 152)" 
                        colspan="{{colspanPersonales}}">Datos Personales</td>
                    <td ng-if="visibleOcupacionales" style="background-color:rgb(210, 228, 152)" 
                        colspan="{{colspanOcupacionales}}">Datos Ocupacionales</td>
                    <td ng-if="visibleEstructura" style="background-color:rgb(158, 212, 221)" 
                        colspan="{{colspanEstructura}}">Datos Estructura</td>
                    <td ng-if="visibleCptGral" style="background-color:rgb(243, 149, 112)" 
                        colspan="{{colspanCptGral}}">CPT General</td>
                    <td ng-if="visibleCptEE" style="background-color:rgb(250, 204, 204)" 
                        colspan="{{colspanCptEE}}">CPT - ESPECIFICO ESCALAFONARIO</td>
                    <td ng-if="visibleCptEf" style="background-color:rgb(235, 97, 43)" 
                        colspan="{{colspanCptEf}}">CPT - ESPECIFICO FUNCIONAL</td>
                    <td ng-if="visibleTramosSalariales" style="background-color:rgb(148, 168, 240)" 
                        colspan="{{colspanTramosSalariales}}">CLASIFICADOR DE TRAMOS SALARIALES</td>
                    <td style="background-color:rgb(148, 168, 240)" colspan=1></td>
                </tr>
                <thead tasty-thead=""></thead>
            </thead>
            <tbody ng-if="loading == false">
                <tr ng-repeat="row in config.rows track by $index " 
                class="asignar-legajos-{{row.orden}}">
                    <td ng-if="hasHeader('anho')">{{row.anho}}</td>
                    <td ng-if="hasHeader('mes')">{{row.mes}}</td>
                    <td ng-if="hasHeader('nivelEntidad')">{{row.nivelEntidad}}</td>
                    <td ng-if="hasHeader('entidad')">{{row.entidad}}</td>
                    <td ng-if="hasHeader('oee')">{{row.oee}}</td>
                    <td ng-if="hasHeader('linea') && esHacienda">{{row.linea}}</td>
                    <td ng-if="hasHeader('objetoGasto')">{{row.objetoGasto}}</td>
                    <td ng-if="hasHeader('fuenteFinanciamiento')">{{row.fuenteFinanciamiento}}</td>
                    <td ng-if="hasHeader('programa')">{{row.programa}}</td>
                    <td ng-if="hasHeader('subprograma')">{{row.subprograma}}</td>
                    <td ng-if="hasHeader('programaPresupuestario')">{{row.programaPresupuestario}}</td>
                    <td ng-if="hasHeader('subProgramPresupuestario')">{{row.subProgramPresupuestario}}</td>
                    <td ng-if="hasHeader('dependencia')">{{row.dependencia}}</td>
                    <td ng-if="hasHeader('categoria')">{{row.categoria}}</td>
                    <td ng-if="hasHeader('concepto')">{{row.concepto}}</td>
                    <td ng-if="hasHeader('presupuestado')">{{row.presupuestado | currency: "Gs.":0 }}</td>
                    <td ng-if="hasHeader('devengado')">{{row.devengado}}</td>
                    <td ng-if="hasHeader('vinculacionFuncionario')">{{row.vinculacionFuncionario}}</td>
                    <td ng-if="hasHeader('cedulaIdentidad')">{{row.cedulaIdentidad|number}}</td>
                    <td ng-if="hasHeader('apellido')">{{row.apellido}}</td>
                    <td ng-if="hasHeader('nombre')">{{row.nombre}}</td>                  
                    <td ng-if="hasHeader('cargo')">{{row.cargo}}</td>
                    <td ng-if="hasHeader('funcionReal')">{{row.funcionReal}}</td>  
                    <td ng-if="hasHeader('numeroPuestoTrabajo')">{{row.numeroPuestoTrabajo}}</td>
                    <td ng-if="hasHeader('codigoCeo')">{{row.codigoCeo}}</td> 
                    <td ng-if="hasHeader('denominacionCeo')">{{row.denominacionCeo}}</td> 
                    <td ng-if="hasHeader('nivelCuo')">{{row.nivelCuo}}.{{row.subNivelCuo}}.{{row.numeroCuo}}</td> 
                    <td ng-if="hasHeader('denominacionCuo')">{{row.denominacionCuo}}</td> 
                    <td ng-if="hasHeader('nivelCpt')">{{row.nivelCpt}}</td>
                    <td ng-if="hasHeader('subNivelCpt')">{{row.subNivelCpt}}</td> 
                    <td ng-if="hasHeader('numeroCpt')">{{row.numeroCpt}}</td> 
                    <td ng-if="hasHeader('denominacionCpt')">{{row.denominacionCpt}}</td>     
                    <td ng-if="hasHeader('titularUnidad')">{{row.titularUnidad|sino}}</td>   
                    <td ng-if="hasHeader('numeroSecuencialCptE') && !esHacienda">{{row.numeroSecuencialCptE}}</td>     
                    <td ng-if="hasHeader('ambitoCptE') && !esHacienda">{{row.ambitoCptE}}</td>     
                    <td ng-if="hasHeader('nivelCptE') && !esHacienda">{{row.nivelCptE}}</td>     
                    <td ng-if="hasHeader('categoriaCptE') && !esHacienda">{{row.categoriaCptE}}</td>     
                    <td ng-if="hasHeader('denominacionCptE') && !esHacienda">{{row.denominacionCptE}}</td> 
                    <td ng-if="hasHeader('numeroSecuencialCptF')">{{row.numeroSecuencialCptF}}</td>     
                    <td ng-if="hasHeader('ambitoCptF')">{{row.ambitoCptF}}</td>     
                    <td ng-if="hasHeader('codigoProceso')">
                        <div ng-repeat="item in row.codigoProceso.split(',')">{{item}}<br>
                    </td>     
                    <td ng-if="hasHeader('denominacionCptF')">{{row.denominacionCptF}}</td>     
                    <td ng-if="hasHeader('orientacionFuncional')">{{row.orientacionFuncional}}</td> 
                    <td ng-if="hasHeader('tramo')">{{row.tramo}}</td>
                    <td ng-if="hasHeader('minimo')">{{row.minimo | currency: "Gs.":0}}</td>
                    <td ng-if="hasHeader('maximo')">{{row.maximo | currency: "Gs.":0}}</td>    
                    <td>
                        <a ng-href="#!{{path}}/{{row.pk}}/ver" target="_blank">
                            <i class="fa fa-eye"></i> Ver </a> &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </tabla>
    <footer-tabla>
        <hr/>
        <h5>Descargar: </h5>
        <a ng-click="getCSV()">
            <i type="button" class="fa fa-file-o"></i> CSV</a> &nbsp;|&nbsp;
        <a ng-click="getXLS()">
            <i type="button" class="fa fa-file-excel-o"></i> EXCEL</a>
        <!--<a ng-click="getPDF()">
            <i type="button" class="fa fa-file-pdf-o"></i> PDF</a>-->
    </footer-tabla>
</lista-directive>