<br/>
<div class="wizard">
    <ul class="wizard-breadcrumbs">
        <li>
            <a href="#!{{path}}" title="Ir a Explorar Legajos">Legajos
                <span class="badge">1</span>
            </a>
        </li>
        <li class="active">
            <a> Consultar Legajo
                <span class="badge">2</span>
            </a>
        </li>
    </ul>
</div>

<!-- Nav tabs 
<br>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation">
        <a data-target="#cabecera" role="tab" data-toggle="tab">Legajos</a>
    </li>
    <li role="presentation">
        <a data-target="#cptE" role="tab" data-toggle="tab">CPT-EE</a>
    </li>
    <li role="presentation">
        <a data-target="#cptF" role="tab" data-toggle="tab">CPT-EF</a>
    </li>
</ul>-->

<!-- Tab panes 
<div class="tab-content">
    <div role="tabpanel" class="tab-pane " id="cabecera">-->
<section class="form-wrapper">
    <div class="top-block">
        <h2 class="title-top">
            Legajo Personal
        </h2>
        <p>
            A través de esta sección usted podrá consultar la formaci&oacute;n academica del funcionario.
        </p>
    </div>
    <div class="wrapper form-horizontal">
        <dl class="dl-horizontal">
            <dt>Apellidos:</dt>
            <dd>
                {{recurso.apellido}}
            </dd>
            <dt>Nombre:</dt>
            <dd>
                {{recurso.nombre}}
            </dd>
            <dt>C&eacute;dula de identidad:</dt>
            <dd>
                {{recurso.cedulaIdentidad | number}}
            </dd>
            <!--<dt>Localidad:</dt>
            <dd>
                {{recurso.localidad}}
            </dd>-->
            <dt>Vinculaci&oacute;n Laboral:</dt>
            <dd>
                {{recurso.vinculacionFuncionario}}
            </dd>
            <dt>Cargo:</dt>
            <dd>
                {{recurso.cargo}}
            </dd>
            <dt>Funcion real:</dt>
            <dd>
                {{recurso.funcionReal}}
            </dd>

            <dt>Nivel CPT:</dt>
            <dd>
                {{recurso.nivel}}
            </dd>

            <dt>N&uacute;mero de Tramo:</dt>
            <dd>
                {{recurso.numeroTramo}}
            </dd>

            <dt>Circunscripción:</dt>
            <dd>
                {{recurso.nombreDepartamento}}
            </dd>
            <dt>Distrito:</dt>
            <dd>
                {{recurso.nombreDistrito}}
            </dd>
            <dt>Ubicacion Fisica:</dt>
            <dd>
                {{recurso.ubicacionFisica}}
            </dd>
            <dt>Tipo Discapacidad:</dt>
            <dd>
                {{recurso.tipoDiscapacidad}}
            </dd>
            <dt>Antiguedad:</dt>
            <dd>
                {{recurso.antiguedadCargo}}
            </dd>

            <dt>Fecha de nacimiento:</dt>
            <dd>
                {{recurso.fechaNacimientoString}}
            </dd>
            <dt>Sexo:</dt>
            <dd>
                {{recurso.sexo == 'M' ? 'MASCULINO' : (recurso.sexo == 'F' ? 'FEMENINO' : '')}}
            </dd>

            <dt>Titulo:</dt>
            <dd>
                {{recurso.titulo}}
            </dd>
    </div>

    <hr ng-if="recorridoLaboral.length > 0"/>

    <!--<div ng-if="recorridoLaboral.length > 0">-->
    <div ng-if="!esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Recorrido Laboral
            </h2>
            <p>
                A través de esta sección usted podrá consultar el recorrido laboral del funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Nro. Doc. Nombramiento</th>
                    <th>Fecha Nombramiento</th>
                    <th>Cargo</th>
                    <th>Categor&iacute;a Personal</th>
                    <th>Ubicaci&oacute;n F&iacute;sica</th>
                    <th>Circunscripci&oacute;n</th>
                    <th>Distrito</th>
                </thead>
                <tbody>
                    <tr ng-if="loadingRecorrido == true">
                        <td colspan="{{7}}">
                            <loading></loading>
                        </td>
                    </tr>
                    <tr ng-if="loadingRecorrido == null">
                        <td colspan="{{7}}">
                            <no-data></no-data>
                        </td>
                    </tr>
                    <tr ng-repeat="rl in recorridoLaboral">
                        <td>{{rl.nroDocNombramiento}}</td>
                        <td>{{rl.fechaNombramiento | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td>{{rl.nombreCargo}}</td>
                        <td>{{rl.categoriaPersonal}}</td>
                        <td>{{rl.ubicacion}}</td>
                        <td>{{rl.departamento}}</td>
                        <td>{{rl.distrito}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="formacionAcademica.length > 0"/>

    <!--<div ng-if="formacionAcademica.length > 0">-->
    <div ng-if="!esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Formaci&oacute;n Acad&eacute;mica
            </h2>
            <p>
                A través de esta sección usted podrá consultar la formaci&oacute;n academica del funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Profesi&oacute;n</th>
                    <th>T&iacute;tulo</th>
                    <th>Situaci&oacute;n Estudio</th>
                    <th>A&ntilde;o</th>
                </thead>
                <tbody>
                    <tr ng-if="loadingFormacion == true">
                        <td colspan="{{7}}">
                            <loading></loading>
                        </td>
                    </tr>
                    <tr ng-if="loadingFormacion == null">
                        <td colspan="{{7}}">
                            <no-data></no-data>
                        </td>
                    </tr>
                    <tr ng-repeat="fa in formacionAcademica">
                        <td>{{fa.estudioProfesion}}</td>
                        <td>{{fa.titulo}}</td>
                        <td>{{fa.situacionEstudio}}</td>
                        <td>{{fa.anhoTitulo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="sancionPersonal.length > 0"/>

    <!--<div ng-if="sancionPersonal.length > 0">-->
    <div ng-if="!esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Sanci&oacute;n Personal
            </h2>
            <p>
                A través de esta sección usted podrá consultar la sanción personal del funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Sanci&oacute;n</th>
                    <th>N&uacute;mero del Documento</th>
                    <th>Fecha del Documento</th>
                    <th>Tipo de Sanci&oacute;n</th>
                </thead>
                <tbody>
                    <tr ng-if="loadingSancion == true">
                        <td colspan="{{7}}">
                            <loading></loading>
                        </td>
                    </tr>
                    <tr ng-if="loadingSancion == null">
                        <td colspan="{{7}}">
                            <no-data></no-data>
                        </td>
                    </tr>
                    <tr ng-repeat="rl in sancionPersonal">
                        <td>{{rl.sancion}}</td>
                        <td>{{rl.numeroDocumento}}</td>
                        <td>{{rl.fechaDocumento | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td>{{rl.tipoSancion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="sumarioPersonal.length > 0"/>

    <!--<div ng-if="sumarioPersonal.length > 0">-->
    <div ng-if="!esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Sumario Personal
            </h2>
            <p>
                A través de esta sección usted podrá consultar la sumario personal del funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Sumario</th>
                    <th>N&uacute;mero del Documento</th>
                    <th>Fecha del Documento</th>
                    <th>Tipo de Sumario</th>

                </thead>
                <tbody>
                    <tr ng-if="loadingSumario == true">
                        <td colspan="{{7}}">
                            <loading></loading>
                        </td>
                    </tr>
                    <tr ng-if="loadingSumario == null">
                        <td colspan="{{7}}">
                            <no-data></no-data>
                        </td>
                    </tr>
                    <tr ng-repeat="rl in sumarioPersonal">
                        <td>{{rl.sumario}}</td>
                        <td>{{rl.numeroDocumento}}</td>
                        <td>{{rl.fechaDocumento | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td>{{rl.tipoSumario}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="formacionAcademicaHacienda.length > 0"/>

    <!--<div ng-if="formacionAcademicaHacienda.length > 0">-->
    <div ng-if="esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Formaci&oacute;n Acad&eacute;mica
            </h2>
            <p>
                A través de esta sección usted podrá consultar la formaci&oacute;n academica del funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Carrera</th>
                    <th>Grado Academico</th>
                    <th>Profesi&oacute;n</th>
                    <th>Situaci&oacute;n Estudio</th>
                    <th>Instituci&oacute;n</th>
                </thead>
                <tbody>
                    <tr ng-repeat="fa in formacionAcademicaHacienda">
                        <td>{{fa.carrera}}</td>
                        <td>{{fa.gradoAcademico}}</td>
                        <td>{{fa.profesion}}</td>
                        <td>{{fa.situacionEstudio}}</td>
                        <td>{{fa.institucion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="carreraAdministrativa.length > 0"/>
    
    <!--<div ng-if="carreraAdministrativa.length > 0">-->
    <div ng-if="esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Carrera Administrativa
            </h2>
            <p>
                A través de esta sección usted podrá consultar la carrera administrativa del funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Nombre</th>
                    <th>Detalle</th>
                    <th>Disposic&oacute;n</th>
                    <th>Fecha Disposici&oacute;n</th>
                </thead>
                <tbody>
                    <tr ng-if="loadingCarreraAdministrativa == true">
                        <td colspan="{{config.header.length}}">
                            <loading></loading>
                        </td>
                    </tr>
                    <tr ng-if="loadingCarreraAdministrativa == null">
                        <td colspan="{{config.header.length}}">
                            <no-data></no-data>
                        </td>
                    </tr>
                    <tr ng-repeat="rl in carreraAdministrativa">
                        <td>{{rl.nombre}}</td>
                        <td>{{rl.detalle}}</td>
                        <td>{{rl.disposicion}}</td>
                        <td>{{rl.fechaDisposicion | date:'dd-MM-yyyy HH:mm:ss'}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="estudiosConcluidos.length > 0 && esHacienda"/>

    <!--<div ng-if="estudiosConcluidos.length > 0">-->
    <div ng-if="esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Estudios Concluidos
            </h2>
            <p>
                A través de esta sección usted podrá consultar los estudios concluidos del funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Grado</th>
                    <th>Carrera</th>
                    <th>Profesión</th>
                    <th>Institución</th>
                    <th>Observación</th>
                </thead>
                <tbody>
                    <tr ng-repeat="ec in estudiosConcluidos">
                        <td>{{ec.descripcionGrado}}</td>
                        <td>{{ec.descripcionCarrera}}</td>
                        <td>{{ec.descripcionProfesion}}</td>
                        <td>{{ec.nombreInstitucion}}</td>
                        <td>{{ec.observacion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="otrosEstudios.length > 0"/>

    <!--<div ng-if="otrosEstudios.length > 0">-->
    <div ng-if="esHacienda">

        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Otros Estudios
            </h2>
            <p>
                A través de esta sección usted podrá consultar otros estudios del funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Grado</th>
                    <th>Carrera</th>
                    <th>Profesión</th>
                    <th>Institución</th>
                    <th>Observación</th>
                    <th>Fecha Finalización</th>
                    <th>Años</th>
                </thead>
                <tbody>
                    <tr ng-repeat="oe in otrosEstudios">
                        <td>{{oe.descripcionGrado}}</td>
                        <td>{{oe.descripcionCarrera}}</td>
                        <td>{{oe.descripcionProfesion}}</td>
                        <td>{{oe.nombreInstitucion}}</td>
                        <td>{{oe.observacion}}</td>
                        <td>{{oe.fechaFinalizacion | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td>{{oe.descripcionAnhos}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="otrosCursos.length > 0"/>

    <!--<div ng-if="otrosCursos.length > 0">-->
    <div ng-if="esHacienda">

        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Otros Cursos
            </h2>
            <p>
                A través de esta sección usted podrá consultar otros cursos del funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Curso</th>
                    <th>Tipo</th>
                    <th>Institución</th>
                    <th>Observación</th>
                    <th>Fecha Finalización</th>
                </thead>
                <tbody>
                    <tr ng-repeat="oc in otrosCursos">
                        <td>{{oc.descripcionCurso}}</td>
                        <td>{{oc.descripcionTipo}}</td>
                        <td>{{oc.nombreInstitucion}}</td>
                        <td>{{oc.observacion}}</td>
                        <td>{{oc.fechaFinalizacion | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="cursoInformatica.length > 0 && esHacienda"/>

    <!--<div ng-if="cursoInformatica.length > 0 && esHacienda">-->
    <div ng-if="esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Cursos de Informática
            </h2>
            <p>
                A través de esta sección usted podrá consultar los cursos de informática del funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Curso</th>
                    <th>Institución</th>
                    <th>Observación</th>
                    <th>Fecha Finalización</th>
                </thead>
                <tbody>
                    <tr ng-repeat="ci in cursoInformatica">
                        <td>{{ci.descripcionCurso}}</td>
                        <td>{{ci.nombreInstitucion}}</td>
                        <td>{{ci.observacion}}</td>
                        <td>{{ci.fechaFinalizacion | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr ng-if="idiomas.length > 0 && esHacienda"/>

    <!--<div ng-if="idiomas.length > 0 && esHacienda">-->
    <div ng-if="esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Idiomas
            </h2>
            <p>
                A través de esta sección usted podrá consultar los idiomas del funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Idioma</th>
                    <th>Habla</th>
                    <th>Lee</th>
                    <th>Escribe</th>
                </thead>
                <tbody>
                    <tr ng-repeat="i in idiomas ">
                        <td>{{i.descripcionIdioma}}</td>
                        <td>{{i.descripcionHabla}}</td>
                        <td>{{i.descripcionLee}}</td>
                        <td>{{i.descripcionEscribe}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr ng-if="multas.length > 0 && esHacienda"/>

    <!--<div ng-if="multas.length > 0 && esHacienda">-->
    <div ng-if="esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Multas
            </h2>
            <p>
                A través de esta sección usted podrá consultar las multas del funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Nro. Resolución</th>
                    <th>Fecha Resolución</th>
                    <th>Tipo de Multa</th>
                    <th>Gestión</th>
                    <th>Mes</th>

                </thead>
                <tbody>
                    <tr ng-repeat="m in multas">
                        <td>{{m.resolucionNro}}</td>
                        <td>{{m.fechaResolucion | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td>{{m.tipoMulta}}</td>
                        <td>{{m.gestion}}</td>
                        <td>{{m.mes}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="multasControl.length > 0 && esHacienda"/>

    <!--<div ng-if="multasControl.length > 0 && esHacienda">-->
    <div ng-if="esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Control de Multas
            </h2>
            <p>
                A través de esta sección usted podrá consultar el control de multas del funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Nro. Resolución</th>
                    <th>Fecha Resolución</th>
                    <th>Tipo de Multa</th>
                    <th>Gestión</th>
                    <th>Mes</th>
                    <th>Cantidad días de Resolución</th>

                </thead>
                <tbody>
                    <tr ng-repeat="mc in multasControl">
                        <td>{{mc.resolucionNro}}</td>
                        <td>{{mc.fechaResolucion | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td>{{mc.tipoMulta}}</td>
                        <td>{{mc.gestion}}</td>
                        <td>{{mc.mes}}</td>
                        <td>{{mc.cantDiasResolucion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="diasNoTrabajados.length > 0 && esHacienda"/>

    <!--<div ng-if="diasNoTrabajados.length > 0 && esHacienda">-->
    <div ng-if="esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Días No Trabajados
            </h2>
            <p>
                A través de esta sección usted podrá consultar los días no trabajados del funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Nro. Documento:</th>
                    <th>Tipo:</th>
                    <th>Gestión:</th>
                    <th>Mes:</th>
                    <th>Días Trabajados:</th>
                    <th>Fecha:</th>
		            <th>Fecha Proc.:</th>
                </thead>
                <tbody>
                    <tr ng-repeat="d in diasNoTrabajados">
                    <td>{{d.nroDocumento}}</td>
                    <td>{{d.tipo}}</td>
                    <td>{{d.gestion}}</td>
                    <td>{{d.mes}}</td>
                    <td>{{d.diasTrabajados}}</td>
                    <td>{{d.fecha | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td>{{d.fechaProc | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="experienciaLaboral.length > 0 && esHacienda"/>

    <!--<div ng-if="experienciaLaboral.length > 0 && esHacienda">-->
    <div ng-if="esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Experiencia Laboral
            </h2>
            <p>
                A través de esta sección usted podrá consultar la experiencia laboral del funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Institución:</th>
                    <th>Función:</th>
                    <th>Dirección:</th>
                    <th>Teléfono:</th>
                    <th>Fecha Inicio:</th>
                    <th>Fecha Fin:</th>
                </thead>
                <tbody>
                    <tr ng-repeat="el in experienciaLaboral">
                        <td>{{el.institucion}}</td>
                        <td>{{el.funcion}}</td>
                        <td>{{el.direccion}}</td>
                        <td>{{el.telefono}}</td>
                        <td>{{el.inicio}}</td>
                        <td>{{el.fin}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="eventos.length > 0 && esHacienda"/>

    <!--<div ng-if="eventos.length > 0 && esHacienda">-->
    <div ng-if="esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Eventos
            </h2>
            <p>
                A través de esta sección usted podrá consultar los eventos relacionados al funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Detalle:</th>
                    <th>Disposición:</th>
                    <th>Fecha Disposición:</th>
                </thead>
                <tbody>
                    <tr ng-repeat="e in eventos">
                        <td>{{e.detalle}}</td>
                        <td>{{e.disposicion}}</td>
                        <td>{{e.fechaDisposicion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="apercibimientos.length > 0 && esHacienda"/>

    <!--<div ng-if="apercibimientos.length > 0 && esHacienda">-->
    <div ng-if="esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Apercibimientos
            </h2>
            <p>
                A través de esta sección usted podrá consultar los apercibimientos relacionados al funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Detalle:</th>
                    <th>Disposición:</th>
                    <th>Fecha Disposición:</th>
                </thead>
                <tbody>
                    <tr ng-repeat="e in apercibimientos">
                        <td>{{e.detalle}}</td>
                        <td>{{e.disposicion}}</td>
                        <td>{{e.fechaDisposicion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="sumarios.length > 0 && esHacienda"/>

    <!--<div ng-if="sumarios.length > 0 && esHacienda">-->
    <div ng-if="esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Sumarios
            </h2>
            <p>
                A través de esta sección usted podrá consultar los sumarios relacionados al funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Detalle:</th>
                    <th>Disposición:</th>
                    <th>Fecha Disposición:</th>
                </thead>
                <tbody>
                    <tr ng-repeat="e in sumarios">
                        <td>{{e.detalle}}</td>
                        <td>{{e.disposicion}}</td>
                        <td>{{e.fechaDisposicion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="suspensiones.length > 0 && esHacienda"/>

    <!--<div ng-if="suspensiones.length > 0 && esHacienda">-->
    <div ng-if="esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Suspensiones
            </h2>
            <p>
                A través de esta sección usted podrá consultar las suspensiones relacionados al funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Detalle:</th>
                    <th>Disposición:</th>
                    <th>Fecha Disposición:</th>
                </thead>
                <tbody>
                    <tr ng-repeat="e in suspensiones">
                        <td>{{e.detalle}}</td>
                        <td>{{e.disposicion}}</td>
                        <td>{{e.fechaDisposicion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="destitucion.length > 0 && esHacienda"/>

    <!--<div ng-if="destitucion.length > 0 && esHacienda">-->
    <div ng-if="esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Destituciones
            </h2>
            <p>
                A través de esta sección usted podrá consultar las destituciones relacionados al funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Detalle:</th>
                    <th>Disposición:</th>
                    <th>Fecha Disposición:</th>
                </thead>
                <tbody>
                    <tr ng-repeat="e in destitucion">
                        <td>{{e.detalle}}</td>
                        <td>{{e.disposicion}}</td>
                        <td>{{e.fechaDisposicion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr ng-if="sobreseimiento.length > 0 && esHacienda"/>

    <!--<div ng-if="sobreseimiento.length > 0 && esHacienda">-->
    <div ng-if="esHacienda">
        <br/>
        <div class="top-block">
            <h2 class="title-top">
                Sobreseimientos
            </h2>
            <p>
                A través de esta sección usted podrá consultar los sobreseimientos relacionados al funcionario.
            </p>
        </div>
        <div class="wrapper form-horizontal">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Detalle:</th>
                    <th>Disposición:</th>
                    <th>Fecha Disposición:</th>
                </thead>
                <tbody>
                    <tr ng-repeat="e in sobreseimiento">
                        <td>{{e.detalle}}</td>
                        <td>{{e.disposicion}}</td>
                        <td>{{e.fechaDisposicion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr/>

    <a href="#!/reportes/legajos" class="btn btn-default">
            <i class="fa fa-mail-reply" aria-hidden="true"></i> Atras</a>

</section>