<br/>
<div class="wizard">
    <ul class="wizard-breadcrumbs">
        <li class="active">
            <a>CEO <span class="badge">1</span></a>
        </li>
        <li>
            <a href="#!{{path}}/crear" title="Ir a crear CEO">Gestionar CEO </a>
        </li>
        <li>
            <a> Consultar CEO </a>
        </li>
    </ul>
</div>

<lista-directive data-require= "LISTAR_CEO" data-require-fail="redirect">
    <filtros>
        <div class="form-group">
            <label class="control-label">Código :</label>
            <input type="text" class="form-control" ng-model="filterBy.codigo"
            ng-keypress="aplicarFiltros($event)"/>
        </div>  
        <div class="form-group">
            <label class="control-label">Denominaci&#xF3;n:</label>
            <input type="text" class="form-control" ng-model="filterBy.denominacion"
            ng-keypress="aplicarFiltros($event)" />
        </div>
        <div class="form-group">
            <label class="control-label">Nivel CUO:</label>
            <input type="number" onkeypress="return event.charCode >= 48" min="0" class="form-control" ng-model="filterBy.nivel"
            ng-keypress="aplicarFiltros($event)" />
        </div>
        <div class="form-group">
            <label class="control-label">Subnivel CUO:</label>
            <input type="number" onkeypress="return event.charCode >= 48" min="0" class="form-control" ng-model="filterBy.subNivel" 
            ng-keypress="aplicarFiltros($event)"/>
        </div>
        <div class="form-group">
            <label class="control-label">Número CUO:</label>
            <input type="number" class="form-control" ng-model="filterBy.numero" 
            ng-keypress="aplicarFiltros($event)"/>
        </div>
        <div class="form-group">
                <label class="control-label">CUO (Clasificador de Unidad Organizativa):</label>
                <input type="text" class="form-control" ng-model="filterBy.denominacionCUO" 
                ng-keypress="aplicarFiltros($event)"/>
        </div>
        <input ng-click="seleccionarTodos()" style="float: left;" 
            type="checkbox"><span style="padding-left: 8px">Solo Activos</span>

    </filtros>
    <titulo>Configuración estructural organizativa (CEO)</titulo>
    <descripcion>A través de esta sección usted podrá consultar la lista de las Configuraciones estructurales
        organizativas.
    </descripcion>
    <tabla>
        <table class="table table-striped">
            <thead tasty-thead=""></thead>
            <tbody ng-if="loading == false">
            <tr ng-repeat="row in config.rows">                
                <td ng-if="hasHeader('codigo')">{{row.codigo}}</td>
                <td ng-if="hasHeader('denominacion')" style="min-width:150px">{{row.denominacion}}</td>
                <td ng-if="hasHeader('nivel')">{{row.cuo.nivel}}.{{row.cuo.subNivel}}.{{row.cuo.numero}}</td>
                <td ng-if="hasHeader('denominacionCUO')" style="min-width:150px">{{row.cuo.denominacion}}</td>
                <td>
					<a ng-href="#!{{path}}/{{row.id}}/ver"> <i class="fa fa-eye"></i> Ver </a>

                    <a ng-href="#!{{path}}/{{row.id}}/editar" data-require="EDITAR_CEO">
						<i class="fa fa-pencil-square-o"></i> Editar 
                    </a>

					<a  ng-href="#!/administracion/ceo" class="remove-row" 
                        ng-click="eliminar(row)" data-require="ELIMINAR_CEO">
                        <i class="fa fa-trash"></i> Eliminar 
                    </a>

                    <a  ng-href="#!/administracion/ceo" class="remove-row" 
                        ng-click="cambiarEstado(row)" data-require="ELIMINAR_CEO">
                        <i ng-class="row.activo ? 'fa fa-times' : 'fa fa-check'">
                        </i> {{row.activo ? 'Desactivar' : 'Activar'}} 
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </tabla>
    <footer-tabla>
        <hr/>
        <h5>Descargar: </h5>
        <a ng-click="getCSV()"><i type="button" class="fa fa-file-o"></i> CSV</a> &nbsp;|&nbsp;
        <a ng-click="getXLS()"><i type="button" class="fa fa-file-excel-o"></i> EXCEL</a>
        <hr/>
        <a class="btn btn-default" href="#!{{path}}/crear"><i class="fa fa-plus"></i> Agregar</a>
        
        <button id="cv" class="btn btn-default" type="file" accept="*/*" 
                ngf-select="uploadFiles($file, $invalidFiles)">
            <i class="fa fa-upload"></i> Cargar Archivo
        </button>
        <span style="padding-left: 8px;">{{fileName}} {{size}}</span><i ng-if=archivoCargado class="fa fa-check"></i>
        <button type="button" class="btn btn-primary" 
                ng-disabled="disabledButtonExportar" ng-click="exportar()">
            <i class="fa fa-file-o"></i>&nbsp;{{!exportando ? 'Importar' : 'En Proceso...'}}
        </button>
    </footer-tabla>

</lista-directive>
