<br/>
<div class="wizard">
    <ul class="wizard-breadcrumbs">
        <li class="active">
            <a>Convocatorias <span class="badge">1</span></a>
        </li>
        <li ng-if="hasRole('CREAR_CONVOCATORIA')">
            <a href="#!{{path}}/crear" title="Ir a crear Convocatorias">Gestionar Convocatorias</a>
        </li>
        <li>
            <a> Consultar Convocatoria</a>
        </li>
    </ul>
</div>

<lista-directive data-require="LISTAR_CONVOCATORIAS" data-require-fail="redirect">
    <filtros>

        <div class="form-group">
            <label class="control-label">A&ntilde;o:</label>
            <input type="number" class="form-control" ng-model="filterBy.anho" 
                    ng-keypress="aplicarFiltros($event)" />
        </div>

        <div class="form-group">
            <label class="control-label">Mes :</label>
            <select class="form-control" ng-model="filterBy.mes">
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>
            
        <div class="form-group">
            <label class="control-label">Descripci&oacute;n:</label>
            <input type="text" class="form-control" ng-model="filterBy.descripcion"
            ng-keypress="aplicarFiltros($event)" />
        </div>
        <div class="form-group">
                <label class="control-label">Presupuestado:</label>
                <input type="text" class="form-control" ng-model="filterBy.presupuestado"
                ng-keypress="aplicarFiltros($event)" />
        </div>
        <div class="form-group">
            <label class="control-label">Categor&iacute;a:</label>
            <input type="text" class="form-control" ng-model="filterBy.categoria"
            ng-keypress="aplicarFiltros($event)" />
        </div>
        <div class="form-group">
            <label class="control-label">Cargo:</label>
            <input type="text" class="form-control" ng-model="filterBy.nombre"
            ng-keypress="aplicarFiltros($event)" />
        </div>
        <div class="form-group">
            <label class="control-label">Departamento:</label>
            <input type="text" class="form-control" ng-model="filterBy.departamento" 
            ng-keypress="aplicarFiltros($event)"/>
        </div>
        </div>
    </filtros>
    <titulo>Convocatorias</titulo>
    <descripcion>
        A través de esta sección podrá consultar la lista de las convocatorias para la manifestaci&oacute;n de 
        interes para los cargos disponibles.
    </descripcion>
    <tabla>
        <table class="table table-striped">
            <thead tasty-thead=""></thead>
            <tbody ng-if="loading == false">
                <tr ng-repeat="row in config.rows">
                    <td ng-if="hasHeader('codigoConcurso')">{{row.codigoConcurso}}</td>
                    <td ng-if="hasHeader('descripcion')">{{row.descripcion}}</td>
					<td ng-if="hasHeader('presupuestado')">{{row.presupuestado | number}}</td>
                    <!--<td>{{row.cargo.programa}}</td>-->
                    <!--<td>{{row.cargo.estructura}}</td>-->
                    <td ng-if="hasHeader('nombre')">{{row.nombre == null ? row.denCptF : row.nombre}}</td>
                    <td ng-if="hasHeader('departamento')">{{row.departamento}}</td>
                    <td ng-if="hasHeader('categoria')">{{row.categoria}}</td>
                    <td ng-if="hasHeader('descripcionPrograma')">{{row.descripcionPrograma}}</td>
                    <td ng-if="hasHeader('descripcionSubprograma')">{{row.descripcionSubprograma}}</td>
                    <!--<td>{{row.cargo.idTramo}}</td>-->
                    <td ng-if="hasHeader('fechaCreacion')">{{row.fechaCreacion | date : 'dd-MM-yyyy'}}</td>
                    <td>
                        <a ng-href="#!{{path}}/{{row.id}}/ver"> <i class="fa fa-eye"></i> Ver </a> &nbsp;
                        <a ng-href="#!{{path}}/{{row.id}}/editar" data-require="EDITAR_CONVOCATORIAS">
                            <i class="fa fa-pencil-square-o"></i> Editar 
                        </a>
                        <a ng-click="eliminar(row)" data-require="ELIMINAR_CONVOCATORIA"
                            ><i class="fa fa-trash"></i> Eliminar 
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </tabla>
</lista-directive>