<br/>

<div class="wizard">
    <ul class="wizard-breadcrumbs">
        <li>
            <a href="#!{{path}}" title="Ir a Buscar Convocatorias">Convocatorias <span class="badge">1</span></a>
        </li>
        <li ng-if="hasRole('CREAR_CONVOCATORIA')">
            <a href="#!{{path}}/crear" title="Ir a crear Convocatorias">Gestionar Convocatorias</a>
        </li>
        <li>
            <a> Consultar Convocatorias</a>
        </li>
        <li class="active">
            <a> Interesados <span class="badge">4</span></a>
        </li>
        <li>
            <a> Consultar Interesado</a>
        </li>
    </ul>
</div>

<lista-directive data-require="VER_INTERESADOS" data-require-fail="redirect">
    <filtros>
        <div class="form-group">
            <label class="control-label">nombre:</label>
            <input type="text" class="form-control" ng-model="filterBy.nombre"
            ng-keypress="aplicarFiltros($event)" />
        </div>        
    </filtros>
    <titulo>Interesados</titulo>
    <descripcion>A través de esta sección usted podrá consultar la lista de interesados para una convocatoria.</descripcion>
    <tabla>
        <table class="table table-striped">
            <thead tasty-thead=""></thead>
            <tbody ng-if="loading == false">
                <tr ng-repeat="row in config.rows">
                    <td>{{row.usuarioInteresado.cedula}}</td>
                    <td>{{row.usuarioInteresado.nombre}}</td>
                    <td>
                        <!--<a ng-href="#!{{pathActual}}/{{row.usuarioInteresado.cedula}}/ver">-->
                        <a ng-click="verDatosInteresado(row.usuarioInteresado)">
                            <i class="fa fa-eye"></i> Ver </a> &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </tabla>
</lista-directive>
<a href="#!{{path}}" class="btn btn-default">
    <i class="fa fa-mail-reply" aria-hidden="true"></i> Atras
</a>