<br/>
<div class="wizard">
    <ul class="wizard-breadcrumbs">
        <li class="active">
            <a>Puesto-Remuneración
                <span class="badge">1</span>
            </a>
        </li>
    </ul>
</div>

<br/>
<div class="row">
    <nav class="col-md-3 ">
        <div class="form-wrapper">
            <div class="top-block">
                <h2 class="title-top ">Filtros</h2>
                <p>Criterios de búsqueda.</p>
            </div>
            <div class="form">
                <div ng-include="'partials/common/filtros-reportes-partial.html'"></div>
            </div>
        </div>
    </nav>
    <section class="col-md-9">
        <section class="form-wrapper">
            <div class="top-block">
                <h2 class="title-top">Índice de Congruencia Puesto-Remuneración</h2>
                <p> Distribución de la planta según niveles estimados de puestos y tramos salariales. Los datos son
                    clasificados
                    teniendo en cuenta los criterios de Clasificación de puestos de trabajo y Clasificación de
                    categorías
                    o grados de las personas.
                </p>
            </div>
            <table class="matriz-congruencia">
                <thead>
                    <tr>
                        <th rowspan="2" colspan="2">PERIODO</th>
                        <th colspan="11">
                            EVOLUCION DEL INDICE DE CONGRUENCIA
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3">Sobre categorización</th>
                        <th colspan="3">Dentro del rango</th>
                        <th colspan="3">Sub categorización</th>
                        <th colspan="2">TOTAL</th>
                    </tr>
                    <tr>
                        <th>Año</th>
                        <th>Mes</th>
                        <th>Cant.</th>
                        <th colspan="2" style="min-width:85px">Porcentaje</th>
                        <th>Cant.</th>
                        <th colspan="2" style="min-width:85px">Porcentaje</th>
                        <th>Cant.</th>
                        <th colspan="2" style="min-width:85px">Porcentaje</th>
                        <th>Cant.</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr ng-if="loading == true">
                        <td colspan="13">
                            <div class="loading"><img src="/images/cargando.gif"><br/>
                                <p>Cargando...</p>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="loading == null">
                        <td colspan="13">
                            <no-data></no-data>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="row in puestos">
                        <td>{{row.anho}}</td>
                        <td>{{row.mes}}</td>

                        <!-- Sobrecategorizados -->
                        <td>{{row.sobreRango}}</td>
                        <td style="color: {{getTextColorSobreCategorizados(row.pctSobreRango)}}; 
                                background-color: {{getBackgroundColorSobreCategorizados(row.pctSobreRango)}};"
                        ng-class='{red : row.pctSobreRango > 25, yellow : row.pctSobreRango < 26 && 
                        row.pctSobreRango > 9, green : row.pctSobreRango < 10}'>
                            {{row.pctSobreRango}}
                        </td>
                        <td>
                            <span ng-if="row.difSobreRango > 0">&uarr;</span>
                            <span ng-if="row.difSobreRango < 0">&darr;</span>
                            {{row.difSobreRango | number : 2}}
                        </td>
                        
                        <!-- Dentro del rango -->
                        <td>{{row.enRango}}</td>
                        <td style="color: {{getTextColorEnRango(row.pctEnRango)}}; 
                                background-color: {{getBackgroundColorEnRango(row.pctEnRango)}};"
                            ng-class='{red : row.pctEnRango < 50, yellow : row.pctEnRango < 81 && row.pctEnRango > 49, green : row.pctEnRango > 80}'>
                            {{row.pctEnRango}}
                        </td>
                        <td>
                            <span ng-if="row.difEnRango > 0">&uarr;</span>
                            <span ng-if="row.difEnRango < 0">&darr;</span>
                            {{row.difEnRango | number : 2}}
                        </td>
                        
                        <!-- Subcategorizados -->
                        <td>{{row.subRango}}</td>
                        <td style="color: {{getTextColorSubCategorizados(row.pctSubRango)}}; 
                                background-color: {{getBackgroundColorSubCategorizados(row.pctSubRango)}};"
                            ng-class='{red : row.pctSubRango > 25, yellow : row.pctSubRango < 26 
                            && row.pctSubRango > 9, green : row.pctSubRango < 10}'>
                            {{row.pctSubRango}}
                        </td>
                        <td>
                            <span ng-if="row.difSubRango > 0">&uarr;</span>
                            <span ng-if="row.difSubRango < 0">&darr;</span>
                            {{row.difSubRango | number : 2}}
                        </td>
                        <td>{{row.totalCargos}}</td>
                        <td>{{row.pctTotal | number : 0}}</td>
                    </tr>
                </tbody>
            </table>
            <hr ng-show="puestos.length > 0 && loading != true">
            <div ng-show="loading != true" id="container1"></div>
            <hr ng-show="puestos.length > 0 && loading != true">
            <div ng-show="loading != true" id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <footer-tabla>
                <hr/>
                <h5>Descargar: </h5>
                <a ng-click="generarReporte()">
                    <i type="button" class="fa fa-file-excel-o"></i> EXCEL</a>
            </footer-tabla>
        </section>
    </section>
    
</div>