<br/>
<div class="wizard">
    <ul class="wizard-breadcrumbs">
        <li class="active">
            <a>CPT - EF <span class="badge">1</span></a>
        </li>
        <li>
            <a href="#!{{path}}/crear" title="Ir a crear CPT - EF">Gestionar CPT - EF</a>
        </li>
        <li>
            <a> Consultar CPT - EF</a>
        </li>
    </ul>
</div>

<lista-directive data-require="LISTAR_CPT_EF" data-require-fail="redirect">
    <filtros>
        <div class="form-group">
            <label class="control-label">Nivel General:</label>
            <input type="text" class="form-control" ng-model="filterBy.nivelCPT" 
            ng-keypress="aplicarFiltros($event)"/>
        </div>
        <div class="form-group">
            <label class="control-label">Subnivel General:</label>
            <input type="text" class="form-control" ng-model="filterBy.subNivelCpt" 
            ng-keypress="aplicarFiltros($event)"/>
        </div>
        <div class="form-group">
            <label class="control-label">Número General:</label>
            <input type="text" class="form-control" ng-model="filterBy.numeroCpt"
            ng-keypress="aplicarFiltros($event)"/>
        </div>

        <div class="form-group">
            <label class="control-label">Clase General:</label>
            <input type="text" class="form-control" ng-model="filterBy.denominacionCpt"
            ng-keypress="aplicarFiltros($event)" />
        </div>

        <label class="control-label">Titular Unidad:</label>
        <select id="titular" class="form-control" ng-model="filterBy.titularUnidadCpt" >
            <option style="display:none" value=""></option>
            <option value="TODOS">TODOS</option>
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select>

        <div class="form-group">
            <label class="control-label">Número Secuencial:</label>
            <input type="text" class="form-control" ng-model="filterBy.nro"
            ng-keypress="aplicarFiltros($event)" />
        </div>

        <div ng-if="!esHacienda" class="form-group">
            <label class="ambito">Ámbito:</label>
            <select id="ambito" name="ambito" type="text" class="form-control" 
                ng-options="ambito for ambito in listaAmbitos track by ambito"
                ng-model="filterBy.ambito"
                ng-init='filterBy.ambito="TODOS"'></select>
        </div>

        <div class="form-group">
            <label class="control-label">Clase EF:</label>
            <input type="text" class="form-control" ng-model="filterBy.den"
            ng-keypress="aplicarFiltros($event)" />
        </div>      

        <div class="form-group">
            <label class="orientacionFunc">Orientaci&oacute;n Funcional:</label>
            <select name="orientacionFunc" type="text" class="form-control" 
                ng-options="orientacionFunc for orientacionFunc in listaOrientacionFunc track by orientacionFunc"
                ng-model="filterBy.orientacionFunc"
                ng-init='filterBy.orientacionFunc="TODOS"'></select>
        </div>

        <div class="form-group">
            <label class="control-label">Código Mecip:</label>
            <input type="text" class="form-control" ng-model="filterBy.mecip"
            ng-keypress="aplicarFiltros($event)" />
        </div>

        <input ng-click="seleccionarTodos()" style="float: left;" 
            type="checkbox"><span style="padding-left: 8px">Solo Activos</span>

    </filtros>
    <titulo>Clasificador de puesto de trabajo específico funcional (CPT-EF)</titulo>
    <descripcion>A través de esta sección usted podrá consultar la lista de los Clasificadores de puesto de trabajo específico funcional.
    </descripcion>
    <tabla>
        <table class="table table-striped">
            <thead>
                <tr ng-if="cantidadHeader()" style="background-color:#b4cee5">
                    <td ng-if="visibleCptGral" colspan="{{colspanCptGral}}">Clase General</td>
                    <td ng-if="visibleCptEF" colspan="{{colspanCptEF}}">Clase EF</td>
                    <td colspan="1"></td>
                </tr>
                <thead tasty-thead=""></thead>
            </thead>
            <tbody ng-if="loading == false">
                <tr ng-repeat="row in config.rows">
                    <td ng-if="hasHeader('nivelCpt')">{{row.cpt.nivel}}</td>
                    <td ng-if="hasHeader('subNivelCpt')">{{row.cpt.subNivel}}</td>
                    <td ng-if="hasHeader('numeroCpt')">{{row.cpt.numeroGasto}}</td>
                    <td ng-if="hasHeader('cpt')">{{row.cpt.denominacion}}</td>
                    <td ng-if="hasHeader('titularUnidadCpt')">{{row.cpt.tituloUnidad|sino}}</td>
                    <td ng-if="hasHeader('nro')">{{row.nro}}</td>
                    <td ng-if="hasHeader('ambito')">{{row.ambito.nombre}}</td>
                    <td ng-if="hasHeader('den')">{{row.den}}</td>       
                    <td ng-if="hasHeader('orientacionFunc')">{{row.orientacionFunc.nombre}}</td>
                    <td ng-if="hasHeader('mecip')">
                        <a ng-repeat="m in row.mecip">{{m.codigo}}<br ng-if="$index != row.mecip.length"></a>
                    </td>           
                    <td>
                        <a  ng-href="#!{{path}}/{{row.id}}/ver"> <i class="fa fa-eye"></i> Ver </a>

                        <a ng-href="#!{{path}}/{{row.id}}/editar" data-require="EDITAR_CPT_EF">
                            <i class="fa fa-pencil-square-o"></i> Editar </a>

						<a  ng-href="#!/administracion/cpt-ef" class="remove-row" 
                            ng-click="eliminar(row)" data-require="ELIMINAR_CPT_EF">
                            <i class="fa fa-trash"></i> Eliminar </a>

                        <a  ng-href="#!/administracion/cpt-ef" class="remove-row" 
                            ng-click="cambiarEstado(row)" data-require="ELIMINAR_CPT_EF">
                            <i ng-class="row.activo ? 'fa fa-times' : 'fa fa-check'">
                            </i> {{row.activo ? 'Desactivar' : 'Activar'}} 
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </tabla>
    <footer-tabla>
        <hr/>
        <h5>Descargar: </h5>
        <a ng-click="getCSV()"><i type="button" class="fa fa-file-o"></i> CSV</a> &nbsp;|&nbsp;
        <a ng-click="getXLS()"><i type="button" class="fa fa-file-excel-o"></i> EXCEL</a>
        <hr/><a class="btn btn-default" href="#!{{path}}/crear"><i class="fa fa-plus"></i> Agregar</a>
        <!--<a ng-click="getPDF()">
            <i type="button" class="fa fa-file-pdf-o"></i> PDF</a>-->
    </footer-tabla>
</lista-directive>