<br/>
<div class="wizard">
    <ul class="wizard-breadcrumbs">
        <li class="active">
            <a>Gestion - Personas
                <span class="badge">1</span>
            </a>
        </li>
    </ul>
</div>

<br/>
<div class="row">
    <nav class="col-md-3 ">
        <div class="form-wrapper">
            <div class="top-block">
                <h2 class="title-top ">Filtros</h2>
                <p>Criterios de búsqueda.</p>
            </div>
            <div class="form">
                <div ng-include="'partials/common/filtros-reportes-partial.html'"></div>
            </div>
        </div>
    </nav>
    <section class="col-md-9">
        <section class="form-wrapper">
            <div class="top-block">
                <h2 class="title-top">Índice de Promoción Salarial</h2>
                <!--<p> Distribución de la planta según niveles estimados de ingresos, egresos y nuevos cargos.-->
                </p>
            </div>
            <table class="matriz-congruencia">
                <thead>
                <tr>
                    <th colspan="2" rowspan="2">PERIODO</th>
                    <th rowspan="3">TOTALES PERSONAL</th>
                    <th colspan="9">
                        EVOLUCION DE LOS CAMBIOS DE CATEGORIAS SALARIALES Y SALARIOS BASICOS
                    </th>
                </tr>
                <tr>
                    <th colspan="2">Cantidades</th>
                    <th colspan="2">Situación Inicial</th>
                    <th colspan="2">Situación actual</th>
                    <th colspan="3">Variación</th>
                </tr>
                <tr>
                    <th colspan="1">Año</th>
                    <th>Mes</th>
                    <th>Personas</th>
                    <th>%</th>
                    <th>Tramo salarial inicial promedio</th>
                    <th>Salario básico inicial promedio</th>
                    <th>Tramo salarial actual promedio</th>
                    <th>Salario basico actual promedio</th>
                    <th>de tramos salariales</th>
                    <th>de salarios básicos</th>
                    <th>%</th>
                </tr>
                </thead>
                <tfoot>
                <tr ng-if="loading == true">
                    <td colspan="12">
                        <div class="loading"><img src="/images/cargando.gif"><br/>
                            <p>Cargando...</p>
                        </div>
                    </td>
                </tr>
                <tr ng-if="loading == null">
                    <td colspan="12">
                        <no-data></no-data>
                    </td>
                </tr>
                </tfoot>
                <tbody>
                <tr ng-repeat="row in puestos">
                    <td>{{row.anho}}</td>
                    <td>{{row.mes}}</td>
                    <td>{{row.totalCargos}}</td>
                    <td>{{row.promocionadas}}</td>
                    <td>{{row.pctPromocionadas}}</td>
                    <td>{{row.promTramosInicial}}</td>
                    <td>{{row.promSalariosInicial| number}}</td>
                    <td>{{row.promTramosActual}}</td>
                    <td>{{row.promSalariosActual| number}}</td>
                    <td>{{row.varTramoSalarial}}</td>
                    <td>{{row.varSalarioBasico| number}}</td>
                    <td>{{row.pctSalario}}</td>
                </tr>
                </tbody>
            </table>
            <hr ng-show="puestos.length > 0 && loading != true">
            <h3 ng-show="puestos.length > 0 && loading != true" align="center" class="title-top">Tramo Salarial</h3>
            
            <div ng-show="loading != true" id="container1"></div>
            <hr ng-show="puestos.length > 0 && loading != true">
            <div ng-show="loading != true" id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            
            <hr ng-show="puestos.length > 0 && loading != true">
            <h3 ng-show="puestos.length > 0 && loading != true" align="center" class="title-top">Monto Salarial</h3>
            
            <div ng-show="loading != true" id="container3"></div>
            <hr ng-show="puestos.length > 0 && loading != true">
            <div ng-show="loading != true" id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <footer-tabla>
                <hr/>
                <h5>Descargar: </h5>
                <a ng-click="generarReporte()">
                    <i type="button" class="fa fa-file-excel-o"></i> EXCEL</a>
            </footer-tabla>
        </section>
    </section>
</div>