<form-directive>
	<titulo>Cambiar Contrase&ntilde;a</titulo>
    <descripcion>A través de esta sección usted podrá cambiar su Contrase&ntilde;a.</descripcion>
    
	<form>
		
		<div class="form-group">
            <label for="passwordAnterior" class="col-sm-3 control-label">Contrase&ntilde;a:*</label>
            <div class="col-sm-7">
                <input type="password" ng-model="recurso.passwordAnterior" class="form-control" id="passwordAnterior">
                <p class="help-block">Contrase&ntilde;a para el ingreso al portal.</p>
            </div>
        </div>
		
		<div class="form-group">
            <label for="password" class="col-sm-3 control-label">Contrase&ntilde;a Nueva:*</label>
            <div class="col-sm-7">
                <input type="password" ng-model="recurso.password" class="form-control" id="password">
                <p class="help-block">Nueva Contrase&ntilde;a para el ingreso al portal.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="password2" class="col-sm-3 control-label">Reingresar Contrase&ntilde;a Nueva:*</label>
            <div class="col-sm-7">
                <input type="password" ng-model="recurso.password2" class="form-control" id="password2">
                <p class="help-block">Las contrase&ntilde;as coinciden.</p>
            </div>
        </div>
		
	</form>		
</form-directive>