<div style="background-color: #f2dede; height: 40px; padding-top: 12px; padding-left: 16px;">
    <a ng-if="!actual" onMouseOver="this.style.color='#2d5a81'" 
            onMouseOut="this.style.color='#ff0c00'"
            style="color:red;" href="#!/administracion/cts/crear">
        <i class="fa fa-fw  fa-bell"></i>¡Aún no ha calculado los tramos!
    </a>
<div>

<br/>

<section class="col-md-12">    

    <div class="row l-box" ng-controller="HeaderCtrl">
        <div class="col-md-5">

            <img src="images/cte-banner.svg">
            
        </div>
        <div class="col-md-7">
            <h1>¡Hola {{user.name}}!</h1>
            <p class="text-justify">
                Bienvenido al aplicativo de Concursabilidad Transparente y Equitativa, mediante este sistema, se busca principalmente fortalecer
                el proceso de concursabilidad administrando los puestos de trabajo. De manera a, realizar la asignación de
                cargos según las regulaciones de las normativas vigentes y por reglas técnicas predefinidas.
            </p>
            <br>
            <p class="text-justify" style="background-color: gray; padding-left: 16px">
                <i class="fa fa-fw  fa-check"></i>El sistema esta actualizado a {{periodo}}
            </p>
        </div>
        <hr/>
    </div>
</section>

<br/>
<br/>