<br/>
<div class="wizard">
    <ul class="wizard-breadcrumbs">
        <li>
            <a href="#!{{path}}" title="Ir a Buscar Roles">Roles <span class="badge">1</span></a>
        </li>
        <li class="active">
            <a>Gestionar Rol <span class="badge">2</span></a>
        </li>
        <li>
            <a> Consultar Rol</a>
        </li>
    </ul>
</div>

<form-directive data-require= "CREAR_ROLES" data-require-fail="redirect">
    <titulo>Roles</titulo>
    <descripcion>A través de esta sección usted podrá gestionar los datos de los Roles.</descripcion>
    
	<form>
        
		<!--codigo-->
        <div class="form-group">
            <label for="codigo" class="col-sm-3 control-label">C&oacute;digo* :</label>
            <div class="col-sm-7">
                <input type="text" ng-model="recurso.codigo" class="form-control" id="codigo" 
                    required capitalize>
                <p class="help-block">C&oacute;digo.</p>
            </div>
        </div>
		
        <!--descripcion-->
        <div class="form-group">
            <label for="descripcion" class="col-sm-3 control-label">Descripci&oacute;n* :</label>
            <div class="col-sm-7">
                <input type="text" ng-model="recurso.descripcion" class="form-control" id="descripcion"     required capitalize>
                <p class="help-block">Descripci&oacute;n.</p>
            </div>
        </div>

        <div class="form-group" style="column-count: 4;">
        <dt>Seleccione los permisos para el Rol</dt>
        <input ng-model="seleccionarTodosCheck" ng-click="seleccionarTodos()" style="float: left;" 
            type="checkbox"><span style="padding-left: 8px">Seleccionar todos</span>
        </div>
        <hr/>

		<div class="datos-2-columnas">
            <div ng-repeat="(i, p) in permisos track by $index">
				<input ng-model="p.activo" style="float: left;" type="checkbox"><span style="padding-left: 8px">{{p.nombre}}</span>
			</div>
        </div>
    
	</form>
</form-directive>