<br/>
<div class="wizard">
    <ul class="wizard-breadcrumbs">
        <li class="active">
            <a>Legajos
                <span class="badge">1</span>
            </a>
        </li>
        <li>
            <a> Consultar Legajo</a>
        </li>
    </ul>
</div>

<lista-directive data-require="ASIGNAR_CEO_LEGAJO" data-require-fail="redirect">
    <filtros>

        <div class="form-group">
            <label class="control-label">Año:</label>
            <input type="number" onkeypress="return event.charCode >= 48" min="0" class="form-control" ng-model="filterBy.anho" 
                   ng-keypress="aplicarFiltros($event)" />
        </div>

        <div class="form-group">
            <label class="control-label">Mes:</label>
            <!--<input type="text" class="form-control" ng-model="filterBy.mes" 
                ng-keypress="aplicarFiltros($event)" />-->
                <select class="form-control" ng-model="filterBy.mes">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
        </div>

        <div class="form-group">
            <label class="control-label">CI:</label>
            <input type="text" class="form-control" ng-model="filterBy.cedulaIdentidad" 
                   ng-keypress="aplicarFiltros($event)" />
        </div>

        <div class="form-group">
            <label class="control-label">Nombres:</label>
            <input type="text" class="form-control" ng-model="filterBy.nombre" 
                   ng-keypress="aplicarFiltros($event)" />
        </div>

        <div class="form-group">
            <label class="control-label">Apellidos:</label>
            <input type="text" class="form-control" ng-model="filterBy.apellido" 
                   ng-keypress="aplicarFiltros($event)" />
        </div>

        <div class="form-group">
            <label class="control-label">Cargo:</label>
            <input type="text" class="form-control" ng-model="filterBy.cargo" 
                    ng-keypress="aplicarFiltros($event)" />
        </div>

        <div class="form-group">
            <label class="control-label">Vinculaci&oacute;n:</label>
            <select name="vinculacionFuncionario" type="text" class="form-control" 
                    ng-options="vinculacionFuncionario for vinculacionFuncionario in listaVinculaciones track by vinculacionFuncionario"
                    ng-model="filterBy.vinculacionFuncionario" ng-change="onChangeVinculacion(vinculacion)" 
                    ng-init='filterBy.vinculacionFuncionario="TODOS"'></select>
        </div>

        <div class="form-group">
            <label for="cpt" class="control-label">CPT:</label>
            <select name="cpt" type="text" class="form-control" 
                    ng-options="getPrefijoNivel(cpt) + cpt for cpt in listaCpt | orderBy:sorterFunc track by cpt"
                    ng-model="filterBy.nivel" ng-change="onChangeNivelCpt(cpt)" 
                    ng-init='filterBy.nivel="TODOS"'></select>
        </div>

        <div class="form-group">
            <label for="tramo" class="control-label">Tramo:</label>
            <select name="tramo" type="text" class="form-control" 
                    ng-options="tramo for tramo in listaTramos track by tramo" 
                    ng-model="filterBy.tramo" ng-change="updateTramo(tramo)" 
                    ng-init='filterBy.tramo="TODOS"'></select>
        </div>

    </filtros>
    <titulo>Legajo Personal</titulo>
    <descripcion>
        A través de esta sección usted podrá realizar consultas al legajo personal de los funcionarios.

        <hr/>
        <div class="form-group">
            <label class="control-label">CEO:</label>
            <select name="ceo" type="text" class="form-control" 
                ng-options="ceo.denominacion for ceo in listaCeo" 
                ng-model="ceo" ng-change="onChangeCeo(ceo)"></select>
        </div>

    </descripcion>
    <tabla>
        <table class="table table-striped">
            <thead tasty-thead=""></thead>
            <tbody ng-if="loading == false">
                <tr ng-repeat="row in config.rows" class="asignar-legajos-{{row.orden}}">
                    <td style="width: 5%">
                        <input type="checkbox" ng-change="asignarLegajo(row)" ng-model="row.asignado" class="tooltip">
                        <span class="tooltiptext"> Asignar Legajo</span>
                    </td>
                    <td ng-if="hasHeader('anho')">{{row.id.anho}}</td>
                    <td ng-if="hasHeader('mes')">{{row.id.mes}}</td>
                    <td ng-if="hasHeader('cedulaIdentidad')">{{row.id.cedulaIdentidad | number}}</td>
                    <td ng-if="hasHeader('apellido')">{{row.apellido}}</td>
                    <td ng-if="hasHeader('nombre')">{{row.nombre}}</td>
                    <td ng-if="hasHeader('ceoActual')">{{row.ceoActual}}</td>
                    <td ng-if="hasHeader('cargo')">{{row.cargo}}</td>
                    <td ng-if="hasHeader('nombreDepartamento')">{{row.nombreDepartamento}}</td>
                    <td ng-if="hasHeader('nombreDistrito')">{{row.nombreDistrito}}</td>
                </tr>
            </tbody>
        </table>
    </tabla>
</lista-directive>